spring:
  application:
    name: "financial-entity"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: "always"
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true

info:
  app:
    name: "${spring.application.name}"
    description: "Financial Entity Service"
    version: "1.0.0"