spring:
  application:
    name: api-gateway-server
  config:
    import: "optional:configserver:http://localhost:8070"
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # locates services registered with eureka and creates routes for them
          lower-case-service-id: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
    gateway:
      enabled: true