name: API Gateway Server CI

on:
  pull_request:
    paths: [ "api-gateway-server/**" ]
  workflow_dispatch:

jobs:
  build:
    name: Build and SonarQube Analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      - name: Build with Gradle Wrapper
        run: cd api-gateway-server && ./gradlew build -x testClasses sonar -Dsonar.token=${{ secrets.SONAR_TOKEN }}
  test:
    name: Unit Tests
    needs: [ build ]
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@af1da67850ed9a4cedd57bfd976089dd991e2582 # v4.0.0
      - name: Build with Gradle Wrapper
        run: cd api-gateway-server && ./gradlew test
